@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: black;
    color: white;

    font-family: Arial, Helvetica, sans-serif;
}

/*<header>*/

header {

    display: grid;

    grid-template-columns: 25vw 50vw 25vw;
    grid-template-rows: 46px;
    grid-template-areas:
        "name info contact"
    ;

}

@media only screen and (max-width: 1015px) {
    header {
        display: grid;

        grid-template-columns: 100vw;
        grid-template-rows: 47px 48px 48px;
        grid-template-areas:
            "name"
            "info"
            "contact"
        ;
    }
}

header {
    text-align: center;
    align-items: center;
}

header a {
    text-decoration: none;
    color: white;
}

header>h1 {
    grid-area: name;

    padding: 5px;

    background-color: green;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

header>p.info {
    grid-area: info;

    padding: 15px;

    background-color: rgba(211, 211, 211, 0.137);
}

header>p.info>a {
    margin: 0px 15px;
    padding: 5px;

    transition-duration: 0.5s;
    background-color: rgba(0, 255, 0, 0.13);
    border-radius: 5px;
}

header>p.info>a:hover {
    background-color: green;
    color: black;
}

header>p.contact {
    grid-area: contact;

    padding: 15px;

    background-color: rgba(211, 211, 211, 0.137);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

header>p.contact:hover {
    text-decoration: underline;
}

/*</header>*/

main {
    display: flex;

    padding: 15px;
    justify-content: center;
}


section {
    max-width: 350px;
    height: 350px;
}

section>h1 {
    padding: 20px 0px;
    margin-top: 20px;
}

section>p {
    margin: 10px 0px;
}

/*<index.html*/

section>p {
    text-indent: 10px;
    line-height: 160%;
}

/*</index.html*/

/*<aboutme.html>*/

main.main-aboutme {
    height: 850px;
}

section.aboutme {
    max-width: 500px;
    height: 500px;
}

section.aboutme>p {
    text-indent: 10px;
}

section.aboutme>ul {
    list-style-position: inside;
}

section.aboutme>ul>li {
    margin: 10px 0px;
}

/*</aboutme.html>*/

/*<projects.html>*/

main.projects {
    display: grid;

    grid-template-columns: 50vw 50vw;
    grid-template-rows: 260px 200px 50px;
    grid-template-areas:
        "top top"
        "first second"
        "p-first p-second"
    ;

    text-align: center;
}

@media only screen and (max-width: 1015px) {
    main.projects {
        grid-template-columns: 100vw;
        grid-template-rows: 260px 200px 50px 200px 50px;
        grid-template-areas:
            "top"
            "first"
            "p-first"
            "second"
            "p-second"
        ;
    }
}

div.top-projects {
    grid-area: top;

    text-align: center;
    justify-content: center;

    margin-bottom: 30px;
}

section.first {
    grid-area: first;

    max-width: 100%;
}

p.p-first {
    grid-area: p-first;
}

section.second {
    grid-area: second;

    max-width: 100%;
}

p.p-second {
    grid-area: p-second;
}

div.top-projects>h1 {
    margin-top: 50px;
}

div.top-projects>p {
    width: 350px;
    display: inline-block;
    margin-top: 30px;
}

main.projects>p>a {
    color: white;
}

img.img-projects {
    max-width: 375px;
    display: block;
    margin: auto;

    border: 2px solid green;
    box-shadow: 1px 1px 1px green;
}

/*</projects.html>*/

/*<contacts.html>*/

section.section-logo {
    margin-top: 50px;
}

p.p-logo {
    padding: 10px 5px;
}

p.p-logo>a {
    text-decoration: none;
    color: white;
}

p.p-logo>a:hover {
    text-decoration: underline;
}

img.logo {
    width: 30px;
    height: 30px;

    border: none;
    border-radius: 10px;
    box-shadow: none;

    display: inline-block;
}

img.logo.github {
    background-color: white;
}

/*</contacts.html>*/