@charset "UTF-8";

:root {
    --color1: #45F500;
    --color2: #39CA00;
    --color3: #30A800;
    --color4: #197C07;
    --color5: #1C6400;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    box-sizing: border-box;

    font-family: Arial, Helvetica, sans-serif;

    display: grid;
}

main {
    width: 100%;
    margin: 0 auto;


    position: absolute;

    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 100px 50px 1000px 75    px;
    grid-template-areas:
        "header header"
        "nav nav"
        "aside section"
        "footer footer"
    ;
}

@media(max-width: 992px) {
    main {
        grid-template-columns: 100%;
        grid-template-rows: 100px 50px 100px 1000px 75px;
        grid-template-areas:
            "header"
            "nav"
            "aside"
            "section"
            "footer"
        ;
    }
}

header {
    grid-area: header;

    background-image: linear-gradient(to top, var(--color4), var(--color2));
    color: white;

    text-align: center;
}

header > h1 {
    font-weight: bold;
    font-size: 3em;
    margin-top: 5px;
}

header > p {
    margin-top: 5px;
}

nav {
    grid-area: nav;

    background-color: var(--color4);
    position: sticky;
    top: 0;
}

nav > p {
    justify-content: center;
    align-items: center;
    display: flex;
}

nav > p > a {
    color: white;
    text-decoration: none;

    padding: 10px;
}

nav > p > a:hover {
    background-color: #1C6400;
    color: var(--color1);

    padding: 10px;
    border-radius: 5px;
    transition-duration: 0.5s;
    text-decoration: underline;
}

section {
    grid-area: section;
}

section > h1 {
    text-align: center;
    font-size: 2.5em;
}

section > h2 {
    font-size: 2em;
}

section > p {
    text-indent: 15px;
}

section > h1, h2, p {
    margin: 10px;
    padding: 10px;
}

.section-3 {
    text-align: center;
}

section > div.table {
    justify-content: center;
    display: flex;
    margin-bottom: 25px;
}

section > div > table {
    text-align: center;
}

table {
    border-collapse: collapse;
    height: 200px;
    width: 200px;
}

td {
    border: 1px solid black;
}

aside {
    grid-area: aside;

    padding: 10px;
    background-color: var(--color4);
}

footer {
    grid-area: footer;

    background-image: linear-gradient(to bottom, var(--color4), var(--color2));
    color: white;
    
    text-align: center;
}

footer > p > strong > a {
    color: white;
    text-decoration: none;
}

footer > p > strong > a:hover {
    text-decoration: underline;
    color: var(--color1);
}